.modal_window{

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    background: rgba(1, 31, 74, 0.40);
    transform: translateY(-100vh);
    transition: transform .8s;
}

.modal_window .content_form{
    position: relative;
    max-width: 310px;
    padding: 42px 144px;
}

.modal_window_img{
    position: absolute;
    top: 42px;
    right: 42px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal_title{
    font-size: 64px;
    text-align: center;
    line-height: 90%;
}