.section_title-center{
    display: flex;
    justify-content: center;
}

.section_title-center span {
    margin-left: 15px;
}

.content_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.content_form{
    display: flex;
    flex-direction: column;
    background: #011c44;
    margin-left: 32px;
    padding: 0 56px 0 56px;
    border-radius: 32px;
}

.content_map{
    border-radius: 32px;
}


.content_form_input{
    padding: 18px 33px;
    border-radius: 32px;
    margin-bottom: 16px;
    background: none;
    border: 2px solid #747272;
    color: #ffffff;
    transition: .2s;
}

.content_form_input::placeholder{
    color: #ffffff;
}

.content_form_button_submit{
    padding: 16px 32px;
    color: #ffffff;
    background: #2b7fff;
    border-radius: 32px;
}

.content_form_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 32px;
}

.content_form_title span{
    display: flex;
}

.content_form_title p{
    color: #2b7fff;
    margin-left: 15px;
    margin-right: 15px;
}


.agree_text-wrapper{
    margin-top: 8px;
}

.agree_text{
    color: #747272;
    font-size: 12px;
    text-align: center;
}

.agree_text-underline{
    text-decoration: underline;
}
