.slider_wrapper, .slider_body, .slider_items, .slider_buttons{
    display: flex;
}

.slider_wrapper{
    margin-top: 48px;
    flex-direction: column;
    align-items: center;
}

.slider_item{
    position: relative;
    top: 0;
    left: 0;
    width: 300%;
    margin-right: 16px;
    transition: .8s;
}

.slider_item_background{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 47.40%, rgba(1, 28, 68, 0.73) 82.66%, #011C44 99.06%);
    height: 100%;
    width: 344px;
}

.slider_item_text{
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.slider_arrow_button{
    margin-right: 32px;
    cursor: pointer;
}

.slider_arrow_button-next{
    transform: rotateY(180deg);
    margin-left: 32px;
    margin-right: 0;
}

.slider_buttons{
    max-width: 121px;
    justify-content: space-between;
    margin-top: 32px;
}

.slider_button:not(:last-child){
    margin-right: 16px;
}

.slider_button{
    height: 11px;
    width: 11px;
    border-radius: 11px;
    background: #747272;
    cursor: pointer;
}

.slider_button-active{
    background: #2B7FFF;
}