.header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 106px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    z-index: 1;
}


.logo{
    font-size: 22px;
    width: 74px;
    color: #2B7FFF;
    line-height: 0.8;
}

.link_group{
    margin: 0 240px;
}

.link{
    font-size: 18px;
    color: #011C44;
    margin-right: 56px;
}

.opened_link{
    color: #2B7FFF;
}

.header_icon{
    width: 32px;
    height: 32px;
    margin-right: 32px;
}

.burger_menu-wrapper{
    display: none;
}