.section_flex{
    display: flex;
    padding-left: 100px;
}

.section_title{
    margin-top: 40px;
    font-size: 64px;
    line-height: 100%;
}

.section_title span{
    color: #2B7FFF;
}

.section_text{
    width: 729px;
    margin: 40px 0;
    font-size: 22px;
    line-height: 1.9;
}

.section_image{
    position: relative;
    top: -40px;
    left: 0;
    margin-left: 32px;
}