.footer_wrapper{
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 56px 0;
    position: relative;
    background: #011C44;
    width: 100%;
}

.footer_text{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer_staff_image{
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer_link_group{
    display: flex;
    flex-direction: column;
}

.footer_link_group .link{
    color: #ffffff;
    margin: 0;
}

.icons_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#mobile_hidden_text{
    display: block;
}

#desktop_hidden_text{
    display: none;
}